.verification {
	text-align: center;
}

.verification__title {
	margin-bottom: 15px;
	font-size: 38px;
	font-weight: 700;
}

.verification__email {
    display: inline-block;
	font-size: 26px;
	margin-bottom: 15px;
    text-decoration: underline;
}

.verification__descriptionn {
	font-size: 22px;
}
