.form-group {
	margin-bottom: 1rem;
}

.form-group__control {
	padding: 0.5rem;
	background-image: none !important;
}

.form-group__control_border-red {
	border-color: red;
}

.form-group__error-text {
	display: inline-block;
	color: red;
	margin-top: 5px;
}

.form-title {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 1.5rem;
}
